<<<<<<< HEAD


body
{
    font-family: "Open Sans";
}

.TabsPrincipal
{
    padding-left: 25%;
    background-color: white;
    
}

.nav-link
{
    color:grey;
}

.nav-pills .nav-link.active
{
    color: #478062 !important;
    background-color: #D9D9D9 !important;
}
a:hover
{
    color: #478062 !important;
}

.contenedorSuperior
{
    height: 70px;
    padding-top: 13px;
}

.itemContenedorSuperior
{
    display: inline-block;
}
.logoEcannomy
{
    /* width: 200px; */
    text-align: center;
    margin-top: 10px;
}



input[type="submit"] 
{
    text-align: center;
    font-size: .9em;
    padding: 12px;
    /* outline: 0; */
    border-radius: 2px;
    transition: all .3s;
    background: #0C7A4E;
    color: #fff;
    position: relative;
    border: white;
    border-width: 1px;
    border-style: solid;
}
.botonContactanos
{
    height: 40px;
    border-radius: 8px !important;
    padding-top: 8px !important;
    text-align: center;
    font-size: .9em;
    padding: 12px;
    /* outline: 0; */
    border-radius: 2px;
    transition: all .3s;
    background: #0C7A4E;
    color: #fff !important;
    position: relative;
    border: white;
    border-width: 1px;
    border-style: solid;
    margin-top: 0px !important;
}
.comienzaExperiencia
{
    /* margin: auto 0; */
    margin-bottom: 15px;
    margin-top: 25px;
}
.textoBlanco
{
    color: white;
}


/* Responsive navBar */
@media only screen and (max-width: 768px) 
{
    .logoEcannomy
    {
        max-width: 221px;
    }
    .acercaDeSuperior
    {
        background-image: none; 

    }    

    .navbar-toggler
    {
        margin-top: -98px;
    }

    .nav
    {
        display: block !important;
        margin-top: -24px;
        /* z-index: 3; */
    }

   

}

@media only screen and (min-width: 768px) 
{
    .navbar-expand-sm .navbar-nav .nav-link 
    {
        padding-right: .5rem;
        padding-left: .5rem;
        padding-top: 25px;
        margin-top: -18px;
        padding-bottom: 24px;
        border-radius: 0px;
    }
    .navbar
    {
        padding-top:2px !important;
    }

    .nav-fill .nav-item 
    {
        min-width: 100px !important;
    }
}

.tab-content
{
    /* margin-top: 100px; */

}

/* Tab Soluciones */

.tabSoluciones
{
    text-align: center;
}


.solucionesSuperior
{
    padding: 50px;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    margin-bottom: 30px;

}
.imagenSolucion
{
    width: 30%;
    /* padding: 25px; */
    border-radius: 3px;
    min-width: 196px;
    max-width: 400px;
    border: black;
    border-width: 2px;
    border-style: solid;
}

/* Tab B2B */

.tabB2B
{
    text-align: center;
}


.B2BSuperior
{
    padding: 50px;
    text-align: center;
    background-color: #337452;
    width: 100%;
    color: white;
    margin-bottom: 30px;

}
.imagenB2B
{
    width: 30%;
    /* padding: 25px; */
    border-radius: 3px;
    min-width: 210px;
    max-width: 400px;
    border: black;
    border-width: 2px;
    border-style: solid;
    background-color: black;
}


/* Tab Acerca de */

.tabAcercaDe
{
    text-align: center;
}


.acercaDeSuperior
{
    padding: 50px;
    text-align: center;
    background-color: #0C6E7A;
    width: 100%;
    min-height: 200px;
    color: white;
    margin-bottom: 30px;
    background-image: url(../assets/logoCortoBlanco350.png);
    background-position-x: -170px;
    background-position-y: -63px;
    background-size: auto;
    background-repeat: no-repeat;
}

.contenedorImagenAcercaDe
{
    /* position: relative; */
    height: 100%;
}
.imagenAcercaDe
{
    top: 0px;
    max-width:100%;
    max-height:100%;
    position: absolute;
    left: -30px;
}

@media only screen and (max-width: 768px) 
{

    .acercaDeSuperior
    {
        background-image: none; 

    }    

}


/* Tab contactanos */

.contactanosSuperior
{
    padding: 50px;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    margin-bottom: 30px;
}

.contactanosFormArea
{
    background-color: #337452;

}

.casillaForm
{
    height: 48px;
    min-width: 280px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
    padding: 6px;
}

.botonEnviarDatos
{
    width: 100%;
    margin-bottom: 20px;
}

.contactanosWA
{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
=======


body
{
    font-family: "Open Sans";
}

.TabsPrincipal
{
    padding-left: 25%;
    background-color: white;
    
}

.nav-link
{
    color:grey;
}

.nav-pills .nav-link.active
{
    color: #478062 !important;
    background-color: #D9D9D9 !important;
}
a:hover
{
    color: #478062 !important;
}

.contenedorSuperior
{
    height: 70px;
    padding-top: 13px;
}

.itemContenedorSuperior
{
    display: inline-block;
}
.logoEcannomy
{
    /* width: 200px; */
    text-align: center;
    margin-top: 10px;
}



input[type="submit"] 
{
    text-align: center;
    font-size: .9em;
    padding: 12px;
    /* outline: 0; */
    border-radius: 2px;
    transition: all .3s;
    background: #0C7A4E;
    color: #fff;
    position: relative;
    border: white;
    border-width: 1px;
    border-style: solid;
}
.botonContactanos
{
    height: 40px;
    border-radius: 8px !important;
    padding-top: 8px !important;
    text-align: center;
    font-size: .9em;
    padding: 12px;
    /* outline: 0; */
    border-radius: 2px;
    transition: all .3s;
    background: #0C7A4E;
    color: #fff !important;
    position: relative;
    border: white;
    border-width: 1px;
    border-style: solid;
    margin-top: 0px !important;
}
.comienzaExperiencia
{
    /* margin: auto 0; */
    margin-bottom: 15px;
    margin-top: 25px;
}
.textoBlanco
{
    color: white;
}


/* Responsive navBar */
@media only screen and (max-width: 768px) 
{
    .logoEcannomy
    {
        max-width: 221px;
    }
    .acercaDeSuperior
    {
        background-image: none; 

    }    

    .navbar-toggler
    {
        margin-top: -98px;
    }

    .nav
    {
        display: block !important;
        margin-top: -24px;
        /* z-index: 3; */
    }

   

}

@media only screen and (min-width: 768px) 
{
    .navbar-expand-sm .navbar-nav .nav-link 
    {
        padding-right: .5rem;
        padding-left: .5rem;
        padding-top: 25px;
        margin-top: -18px;
        padding-bottom: 24px;
        border-radius: 0px;
    }
    .navbar
    {
        padding-top:2px !important;
    }

    .nav-fill .nav-item 
    {
        min-width: 100px !important;
    }
}

.tab-content
{
    /* margin-top: 100px; */

}

/* Tab Soluciones */

.tabSoluciones
{
    text-align: center;
}


.solucionesSuperior
{
    padding: 50px;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    margin-bottom: 30px;

}
.imagenSolucion
{
    width: 30%;
    padding: 25px;
    min-width: 196px;
    max-width: 400px;
    border: black;
    border-width: 2px;
    border-style: solid;
}

/* Tab B2B */

.tabB2B
{
    text-align: center;
}


.B2BSuperior
{
    padding: 50px;
    text-align: center;
    background-color: #337452;
    width: 100%;
    color: white;
    margin-bottom: 30px;

}
.imagenB2B
{
    width: 30%;
    padding: 25px;
    min-width: 210px;
    max-width: 400px;
    border: black;
    border-width: 2px;
    border-style: solid;
    background-color: black;
}


/* Tab Acerca de */

.tabAcercaDe
{
    text-align: center;
}


.acercaDeSuperior
{
    padding: 50px;
    text-align: center;
    background-color: #0C6E7A;
    width: 100%;
    min-height: 200px;
    color: white;
    margin-bottom: 30px;
    background-image: url(../assets/logoCortoBlanco350.png);
    background-position-x: -170px;
    background-position-y: -63px;
    background-size: auto;
    background-repeat: no-repeat;
}

.contenedorImagenAcercaDe
{
    /* position: relative; */
    height: 100%;
}
.imagenAcercaDe
{
    top: 0px;
    max-width:100%;
    max-height:100%;
    position: absolute;
    left: -30px;
}

@media only screen and (max-width: 768px) 
{

    .acercaDeSuperior
    {
        background-image: none; 

    }    

}


/* Tab contactanos */

.contactanosSuperior
{
    padding: 50px;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    margin-bottom: 30px;
}

.contactanosFormArea
{
    background-color: #337452;

}

.botonEnviarDatos
{
    width: 100%;
    margin-bottom: 20px;
}
>>>>>>> de739d45a3919ef81a68435cea6ee7e3111d5831
